body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  text-align: justify;
  padding: 1em;
}

.detail {
  line-height: 1.7em;
  margin: 0px auto;
}

.publication li {
  margin-left: 0;
}

.publication sup {
  vertical-align: super;
  font-size: 0.8rem;
}

.home_button {
  float: right;
}
